.btn-light {
  color: #09f;
  border: #ddd 5px solid;
  background: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding: 8px 20px;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
.btn-little {
  font-size: 14px;
  padding: 4px 7px;
  border-width: 2px;
}
.jBox-Confirm {
  z-index: 11000!important;
}
.ajax-loader {
  color: #fff;
  position: fixed;
  box-sizing: border-box;
  left: -9999px;
  top: -9999px;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: 999999;
}
.ajax-loader:after,
.ajax-loader:before {
  box-sizing: border-box;
  display: none;
}
.ajax-loader.is-active {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.ajax-loader.is-active:after,
.ajax-loader.is-active:before {
  display: block;
}
.ajax-loader[data-text]:before {
  position: fixed;
  left: 0;
  top: 50%;
  color: currentColor;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  width: 100%;
  font-size: 14px;
}
.ajax-loader[data-text=""]:before {
  content: "Loading";
}
.ajax-loader[data-text]:not([data-text=""]):before {
  content: attr(data-text);
}
.ajax-loader[data-text][data-blink]:before {
  animation: blink 1s linear infinite alternate;
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes blink {
  0% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.ajax-loader-default[data-text]:before {
  top: calc(50% - 63px);
}
.ajax-loader-default:after {
  content: "";
  position: fixed;
  width: 48px;
  height: 48px;
  border: 8px solid #fff;
  border-left-color: transparent;
  border-radius: 50%;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  animation: rotation 1s linear infinite;
}
.ajax-loader-default[data-half]:after {
  border-right-color: transparent;
}
.ajax-loader-default[data-inverse]:after {
  animation-direction: reverse;
}
.ajax-loader-default.min {
  position: absolute;
  color: white;
  background-color: rgba(250, 250, 250, 0.88);
}
.ajax-loader-default.min:after {
  position: absolute;
  border-width: 4px;
  top: 41%;
  border-color: #09f;
  border-left-color: transparent;
}
.ajax-loader-default.min:before {
  position: absolute;
  top: 12%;
  color: #09f;
  letter-spacing: 1px;
}
.ftp-form form {
  max-width: 306px;
  width: 100%;
}
.ftp-form form .field {
  float: left;
  width: 100%;
  margin-bottom: 7px;
}
.ftp-form form .field span {
  margin-bottom: 15px;
  display: block;
}
.ftp-form form .field label {
  float: left;
}
.ftp-form form .field input {
  float: right;
}
.ftp-form form .field input#host {
  width: 250px;
}
.ftp-form form .field input#port {
  width: 60px;
}
.ftp-form form .field > span label {
  float: none !important;
}
.ftp-form form .field > span input {
  float: none !important;
}
.ftp-form form .field input.btn {
  float: none !important;
}
.ftp-form form .field fieldset {
  width: 50%;
  border: 1px solid #b6b6b6;
  padding: 10px;
}
.ftp-form form .field fieldset label {
  float: none !important;
}
.ftp-form form .field fieldset input {
  float: none !important;
}
.ftp-form form .field.num {
  width: 58%;
}
.ftp-form form .field.num label {
  position: relative;
  top: 5px;
  font-weight: bold;
}
.ftp-form form .field.num input {
  width: 52px;
  text-align: center;
  padding: 2px;
}
.ftp-form .connected {
  margin-bottom: 15px;
}
.ftp-form .connected span {
  font-weight: bold;
  color: green;
}
.ftp-form .connected span.no {
  color: red;
}
#backupsavvy-settings table thead tr {
  background-color: #444;
  color: white;
}
#backupsavvy-settings table tbody td {
  background-color: white;
  padding: 8px 8px 8px 15px;
}
#backupsavvy-settings table span.sort {
  padding: 0 15px;
  cursor: pointer;
}
#backupsavvy-settings .preloader-one {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
  background: #000 url("preloader.gif") no-repeat center center;
  z-index: 1;
}
#backupsavvy-settings > .overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
#backupsavvy-settings > .overlay .popup {
  width: 80%;
  position: relative;
  left: 50%;
  min-height: 100px;
  background-color: white;
  top: 20%;
  margin-left: -35%;
  padding: 10px;
}
#backupsavvy-settings > .overlay .popup h3 {
  margin: 5px 0 15px;
}
#backupsavvy-settings > .overlay .popup .info {
  min-height: 10px;
  max-height: 150px;
  overflow-y: scroll;
}
#backupsavvy-settings > .overlay .popup .progressbar {
  position: relative;
  top: 5px;
  margin-top: 10px;
}
#backupsavvy-settings > .overlay .popup .stop {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
#backupsavvy-settings > .overlay .popup .stop:hover {
  text-decoration: underline;
}
#backupsavvy-settings .tabs-v {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 10%;
}
#backupsavvy-settings .tabs-v button {
  display: block;
  background-color: inherit;
  color: black;
  font-weight: bold;
  padding: 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}
#backupsavvy-settings .tabs-v button:hover {
  background-color: #ddd;
}
#backupsavvy-settings .tabs-v button.active {
  background-color: #ccc;
}
#backupsavvy-settings .tabsv-content {
  margin-left: 15px;
  background: #ffffff;
  float: left;
  width: 85%;
  padding: 10px;
  border: 1px solid #c8c8c8;
}
#backupsavvy-settings .tabsv-content > div {
  display: none;
}
#backupsavvy-settings .tabsv-content > div:first-child {
  display: block;
}
#backupsavvy-settings ul.tabs {
  height: 36px;
  line-height: 25px;
  margin: 0 0 0px;
  list-style: none;
}
#backupsavvy-settings ul.tabs li {
  float: left;
  margin-right: 1px;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0 !important;
  -webkit-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  margin-bottom: 0;
}
#backupsavvy-settings ul.tabs li.tab-current a {
  color: #444;
  background: #f1f1f1;
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0 !important;
  -webkit-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  border: 1px solid #ccc;
  border-bottom: none;
  margin-bottom: -2px;
  bottom: -2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#backupsavvy-settings ul.tabs li a {
  padding: 5px 10px;
  margin: 0 4px 0px 0;
  position: relative;
  background: #444;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 2px;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15), inset 1px 1px 1px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15), inset 1px 1px 1px rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15), inset 1px 1px 1px rgba(255, 255, 255, 0.2);
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}
#backupsavvy-settings div.t2 {
  display: none;
  float: left;
  width: calc(100% - 60px);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  -khtml-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 15px 20px;
  border: 1px solid #ccc;
}
#backupsavvy-settings div.t2 #bulk-op {
  float: left;
  width: 99.7%;
  margin-bottom: 10px;
}
#backupsavvy-settings div.t2 #bulk-op .left {
  float: left;
}
#backupsavvy-settings div.t2 #bulk-op .right {
  float: right;
}
#backupsavvy-settings div.t2 #bulk-op select {
  height: auto;
  padding: 6px 24px 6px 7px;
  position: relative;
  top: -3px;
}
#backupsavvy-settings div.t2 #bulk-op input {
  padding: 4px 20px;
}
#backupsavvy-settings div.t1,
#backupsavvy-settings div.t3,
#backupsavvy-settings div.t4,
#backupsavvy-settings div.t5,
#backupsavvy-settings div.t6 {
  display: none;
  float: left;
  width: calc(100% - 60px);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  -khtml-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 15px 20px;
  border: 1px solid #ccc;
}
#backupsavvy-settings div.t5 #existing-backups {
  width: 100%;
}
#backupsavvy-settings div.t5 #existing-backups table {
  width: 100%;
}
#backupsavvy-settings div.t5 #existing-backups td {
  background-color: #fff;
  padding-left: 15px;
  width: 23%;
  border: none;
}
#backupsavvy-settings div.t1 form {
  max-width: 400px;
}
#backupsavvy-settings div.t1 form .field {
  float: left;
  width: 100%;
  margin-bottom: 5px;
}
#backupsavvy-settings div.t1 form label {
  float: left;
  font-weight: bold;
}
#backupsavvy-settings div.t1 form input {
  float: right;
  width: 65%;
  padding: 4px;
}
#backupsavvy-settings div.t1 form input[type="submit"] {
  float: none;
  width: auto;
  padding: 8px 20px;
}
#backupsavvy-settings form#log-list select {
  padding: 0;
}
#backupsavvy-settings .btn.disable {
  background-color: #ddd !important;
  cursor: default;
  color: #ababab;
}
#backupsavvy-settings .spinner {
  visibility: visible;
  display: none;
}
#backupsavvy-settings form#settings .spinner {
  float: none;
  position: relative;
  top: 3px;
}
#backupsavvy-settings form#compare .row {
  width: 100%;
  float: left;
  clear: both;
  position: relative;
}
#backupsavvy-settings form#compare .col {
  float: left;
  position: relative;
}
#backupsavvy-settings form#compare .col-md-6 {
  width: 47%;
}
#backupsavvy-settings form#compare textarea {
  width: 100%;
}
#backupsavvy-settings .mt-1 {
  margin-top: 10px;
}
#backupsavvy-settings .mt-2 {
  margin-top: 20px;
}
#backupsavvy-settings .mr-1 {
  margin-right: 10px;
}
#backupsavvy-settings .description {
  font-size: 11px;
  color: gray;
}
#backupsavvy-settings .red {
  color: red;
}
#backupsavvy-settings .btn {
  background: #3E61C6;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15), inset 1px 1px 1px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15), inset 1px 1px 1px rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15), inset 1px 1px 1px rgba(255, 255, 255, 0.2);
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding: 8px 20px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}
#backupsavvy-settings .btn.little {
  font-size: 14px;
  padding: 4px 7px;
  border-width: 2px;
}
#backupsavvy-settings #add-new-job {
  width: 60%;
}
#backupsavvy-settings #add-new-job .title {
  width: 100%;
  background-color: #98989833;
  padding: 6px;
  cursor: pointer;
  margin-bottom: 0;
  border-radius: 5px 5px 0 0;
}
#backupsavvy-settings #add-new-job form {
  display: none;
}
#backupsavvy-settings .form-style-1 {
  margin: 0;
  max-width: 520px;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#backupsavvy-settings .form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
#backupsavvy-settings .form-style-1 li > span.task-name {
  display: inline-block;
  width: 44%;
}
#backupsavvy-settings .form-style-1 li > span.time {
  display: inline-block;
  width: 40%;
}
#backupsavvy-settings .form-style-1 label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}
#backupsavvy-settings .form-style-1 input[type=text] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #BEBEBE;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
#backupsavvy-settings .form-style-1 input[type=text]:focus {
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
#backupsavvy-settings .form-style-1 input[type=date] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #BEBEBE;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
#backupsavvy-settings .form-style-1 input[type=date]:focus {
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
#backupsavvy-settings .form-style-1 input[type=datetime] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #BEBEBE;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
#backupsavvy-settings .form-style-1 input[type=datetime]:focus {
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
#backupsavvy-settings .form-style-1 input[type=number] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #BEBEBE;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
#backupsavvy-settings .form-style-1 input[type=number]:focus {
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
#backupsavvy-settings .form-style-1 input[type=search] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #BEBEBE;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
#backupsavvy-settings .form-style-1 input[type=search]:focus {
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
#backupsavvy-settings .form-style-1 input[type=time] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #BEBEBE;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
#backupsavvy-settings .form-style-1 input[type=time]:focus {
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
#backupsavvy-settings .form-style-1 input[type=url] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #BEBEBE;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
#backupsavvy-settings .form-style-1 input[type=url]:focus {
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
#backupsavvy-settings .form-style-1 input[type=email] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #BEBEBE;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
#backupsavvy-settings .form-style-1 input[type=email]:focus {
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
#backupsavvy-settings .form-style-1 textarea:focus {
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
#backupsavvy-settings .form-style-1 select:focus {
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
#backupsavvy-settings .form-style-1 .field-divided {
  width: 49%;
}
#backupsavvy-settings .form-style-1 .field-long {
  width: 100%;
}
#backupsavvy-settings .form-style-1 .field-select {
  width: 100%;
  padding: 0;
}
#backupsavvy-settings .form-style-1 .field-textarea {
  height: 100px;
}
#backupsavvy-settings .form-style-1 input[type=button] {
  background: #3E61C6;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15), inset 1px 1px 1px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15), inset 1px 1px 1px rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15), inset 1px 1px 1px rgba(255, 255, 255, 0.2);
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  padding: 3px 15px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}
#backupsavvy-settings .form-style-1 input[type=button]:hover {
  background: #4691A4;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
#backupsavvy-settings .form-style-1 .required {
  color: red;
}
#backupsavvy-settings textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #BEBEBE;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
#backupsavvy-settings select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #BEBEBE;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
} 
#backupsavvy-settings table#scheduller-jobs {
  width: 100%;
  margin-top: 10px;
}
#backupsavvy-settings .container.sites-list table.top-options,
#backupsavvy-settings .container.existing-list table.top-options {
  width: 100%;
  position: relative;
}
#backupsavvy-settings .container.sites-list table.top-options td.first,
#backupsavvy-settings .container.existing-list table.top-options td.first {
  padding-left: 28px;
}
#backupsavvy-settings .container.sites-list table.top-options .spinner,
#backupsavvy-settings .container.existing-list table.top-options .spinner {
  display: block;
  float: left;
  position: absolute;
  left: -3px;
  top: 22px;
}
#backupsavvy-settings .container.sites-list table.top-options td.per-page,
#backupsavvy-settings .container.existing-list table.top-options td.per-page {
  font-weight: bold;
}
#backupsavvy-settings .container.sites-list table.top-options td.per-page span:not(.per-page),
#backupsavvy-settings .container.existing-list table.top-options td.per-page span:not(.per-page) {
  color: #1d94cf;
}
#backupsavvy-settings .container.sites-list table.top-options td.per-page span:not(.per-page):hover:not(.current),
#backupsavvy-settings .container.existing-list table.top-options td.per-page span:not(.per-page):hover:not(.current) {
  cursor: pointer;
  text-decoration: underline;
}
#backupsavvy-settings .container.sites-list table.top-options td.per-page span:not(.per-page).current,
#backupsavvy-settings .container.existing-list table.top-options td.per-page span:not(.per-page).current {
  color: inherit;
}
#backupsavvy-settings .container.existing-list table.top-options {
  border-collapse: collapse;
}
#backupsavvy-settings .container.existing-list table.top-options .spinner {
  top: 11px;
  left: -5px;
}
#backupsavvy-settings .container.existing-list table.top-options td.first {
  padding: 0;
  width: 31px;
}
#backupsavvy-settings .container.existing-list table.top-options td.per-page {
  width: 60%;
  padding-left: 0;
}
#backupsavvy-settings .container.existing-list table.top-options td.per-page + td {
  text-align: right;
}
#backupsavvy-settings table#sites-list {
  width: 100%;
  margin-top: 10px;
}
#backupsavvy-settings table#sites-list tbody td.links img {
  height: 20px;
  position: relative;
  top: 4px;
}
#backupsavvy-settings table#sites-list tbody td.action {
  width: 23%;
}
#backupsavvy-settings table#sites-list div.hidden {
  display: none;
}
#backupsavvy-settings .progressbar {
  margin-top: 20px;
  margin-bottom: 10px;
  height: auto;
  background: #f6f6f6;
  border: 1px solid #e6e6e6;
  border-radius: 7px;
  overflow: hidden;
  display: none;
}
#backupsavvy-settings .progressbar #progresssteps {
  background: #7db9e8;
  background: -moz-linear-gradient(top, #7db9e8 0%, #7db9e8 5%, #207cca 55%, #2989d8 100%);
  background: -webkit-linear-gradient(top, #7db9e8 0%, #7db9e8 5%, #207cca 55%, #2989d8 100%);
  background: linear-gradient(to bottom, #7db9e8 0%, #7db9e8 5%, #207cca 55%, #2989d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db9e8', endColorstr='#2989d8', GradientType=0);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
#backupsavvy-settings .progressbar .bwpu-progress {
  background-color: #1d94cf;
  color: #fff;
  padding: 5px 0;
  text-align: center;
}
#backupsavvy-settings a {
  color: #09f;
}
#backupsavvy-settings a.btn,
#backupsavvy-settings .btn {
  color: #09f;
  border: #ddd 5px solid;
  background: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding: 8px 20px;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
#backupsavvy-settings .storage-settings form {
  max-width: 306px;
  width: 100%;
}
#backupsavvy-settings .storage-settings form .field {
  float: left;
  width: 100%;
  margin-bottom: 7px;
}
#backupsavvy-settings .storage-settings form .field span {
  margin-bottom: 15px;
  display: block;
}
#backupsavvy-settings .storage-settings form .field label {
  float: left;
}
#backupsavvy-settings .storage-settings form .field input {
  float: right;
}
#backupsavvy-settings .storage-settings form .field input#host {
  width: 250px;
}
#backupsavvy-settings .storage-settings form .field input#port {
  width: 60px;
}
#backupsavvy-settings .storage-settings form .field > span label {
  float: none !important;
}
#backupsavvy-settings .storage-settings form .field > span input {
  float: none !important;
}
#backupsavvy-settings .storage-settings form .field input.btn {
  float: none !important;
}
#backupsavvy-settings .storage-settings form .field fieldset {
  width: 50%;
  border: 1px solid #b6b6b6;
  padding: 10px;
}
#backupsavvy-settings .storage-settings form .field fieldset label {
  float: none !important;
}
#backupsavvy-settings .storage-settings form .field fieldset input {
  float: none !important;
}
#backupsavvy-settings .storage-settings form .field.num {
  width: 58%;
}
#backupsavvy-settings .storage-settings form .field.num label {
  position: relative;
  top: 5px;
  font-weight: bold;
}
#backupsavvy-settings .storage-settings form .field.num input {
  width: 52px;
  text-align: center;
  padding: 2px;
}
#backupsavvy-settings .storage-settings .connected {
  margin-bottom: 15px;
}
#backupsavvy-settings .storage-settings .connected span {
  font-weight: bold;
  color: green;
}
#backupsavvy-settings .storage-settings .connected span.no {
  color: red;
}
.ftp-inner-box form {
  max-width: 306px;
  width: 100%;
}
.ftp-inner-box form .field {
  float: left;
  width: 100%;
  margin-bottom: 7px;
}
.ftp-inner-box form .field span {
  margin-bottom: 15px;
  display: block;
}
.ftp-inner-box form .field label {
  float: left;
}
.ftp-inner-box form .field input {
  float: right;
}
.ftp-inner-box form .field input#host {
  width: 250px;
}
.ftp-inner-box form .field input#port {
  width: 60px;
}
.ftp-inner-box form .field > span label {
  float: none !important;
}
.ftp-inner-box form .field > span input {
  float: none !important;
}
.ftp-inner-box form .field input.btn {
  float: none !important;
}
.ftp-inner-box form .field fieldset {
  width: 50%;
  border: 1px solid #b6b6b6;
  padding: 10px;
}
.ftp-inner-box form .field fieldset label {
  float: none !important;
}
.ftp-inner-box form .field fieldset input {
  float: none !important;
}
.ftp-inner-box form .field.num {
  width: 58%;
}
.ftp-inner-box form .field.num label {
  position: relative;
  top: 5px;
  font-weight: bold;
}
.ftp-inner-box form .field.num input {
  width: 52px;
  text-align: center;
  padding: 2px;
}
.ftp-inner-box .connected {
  margin-bottom: 15px;
}
.ftp-inner-box .connected span {
  font-weight: bold;
  color: green;
}
.ftp-inner-box .connected span.no {
  color: red;
}
.ftp-inner-box form {
  padding-top: 20px;
  margin: 0 auto;
}
.ftp-inner-box form .field span label {
  float: left !important;
}
.ftp-inner-box form .field span input {
  float: right !important;
}
.ftp-inner-box form .field fieldset {
  width: calc(100% - 20px) !important;
  border-color: #ddd;
}
.ftp-inner-box form #return-restore {
  border: none;
  color: red;
  float: right;
}
#restore-admin-panel {
  display: none;
}
#restore-admin-panel-inner {
  margin-top: 22px;
}
#restore-admin-panel-inner a {
  margin: 10px;
}
#restore-admin-panel-inner .btn {
  color: #09f;
  border: #ddd 5px solid;
  background: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding: 8px 20px;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
/*# sourceMappingURL=backupsavvy_style.css.map */